@import "tailwindcss";
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Light.ttf');
}

:root {
  --primary-color: #345C3A;
  --primary-accent-color: #edf4ed;
  --secondary-color: #B08B57;
  --secondary-accent-color: #E3CBA4;
}

*, *:before {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition-duration: .5s !important;
}

.swiper-pagination {
  z-index: 1000 !important;
}

.grid-item {
  break-inside: avoid;
  /* Prevents grid items from breaking */
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(180, 184, 180, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(18, 30, 18, 0.505);
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #d1d1d1 !important;
}

@keyframes blobMove1 {
  0% { transform: translate(100px, 0px) scale(1); }
  33% { transform: translate(120px, -30px) scale(1.05); }
  66% { transform: translate(80px, 30px) scale(0.95); }
  100% { transform: translate(100px, 0px) scale(1); }
}

@keyframes blobMove2 {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(-20px, 20px) scale(1.1); }
  66% { transform: translate(20px, -20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob1 {
  animation: blobMove1 18s ease-in-out infinite;
}
